.title {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-basis: 40%;
  justify-content: space-around;
  margin: 10px;
}

.card-item {
  list-style: none;
  margin: 10px;
}